{% load static i18n humanize %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Tutti{% endblock %}</title>
</head>

<body>

<p>
    <a href="{% url 'admin:index' %}">Go to administration site</a>
    {% if user.is_authenticated %}
        | <a href="{% url 'oidc:logout' %}">Log out</a>
    {% endif %}
</p>

{% block content %}<p>Deze pagina wordt beter</p>{% endblock %}

<hr>
<p>
    <a href="https://status.esmgquadrivium.nl">System status</a>
    | <a href="https://github.com/mhvis/tutti">Issue tracker</a>
    {# Poor man's version info, see VERSION_* in settings.py. #}
    |
    {% if VERSION_DATE %}
        Last updated: <a href="{{ VERSION_URL }}">{{ VERSION_DATE|naturalday }}</a>
    {% else %}
        Development version
    {% endif %}

</p>

<script src="{% static 'bundle.js' %}"></script>
</body>
</html>
