{% load static i18n humanize %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Tutti{% endblock %}</title>
</head>

<body>

{% block header %}
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark header">
{% block branding %}
<h1 id="site-name"><a href="{% url 'members:index' %}">
    <img src="{% static 'admin/logo_white.svg' %}" height="60px"/>
</a></h1>
{% endblock %}
{% block usertools %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Go to admin site </a>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Secretaris
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item disabled" href="#">Quick search</a>
                <a class="dropdown-item disabled" href="#">Scala app</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="#">Statistics</a>
            </div>
        </li>
        {% if perms.pennotools %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Penningmeester
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'pennotools:qrekening' %}">Q rekening</a>
          <a class="dropdown-item disabled" href="#">Contributie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Statistics</a>
        </div>
      </li>
        {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'oidc:logout' %}">Log out</a>
        </li>
    </ul>
  </div>
</nav>
    {% block customtools %}
    {% endblock %}
{% endblock %}
</div>
{% endblock %}


<div id="content">
{% block content %}
<p>Deze pagina wordt beter</p>
{% endblock %}
</div>


<hr>
<div id="footer">
{% block footer %}
<p>
    <a href="https://status.esmgquadrivium.nl">System status</a>
    | <a href="https://github.com/mhvis/tutti">Issue tracker</a>
    {# Poor man's version info, see VERSION_* in settings.py. #}
    |
    {% if VERSION_DATE %}
        Last updated: <a href="{{ VERSION_URL }}">{{ VERSION_DATE|naturalday }}</a>
    {% else %}
        Development version
    {% endif %}

</p>
{% endblock %}
</div>

<script src="{% static 'bundle.js' %}"></script>
</body>
</html>
