{% extends "base.html" %}

{% block nav_faqts %}active{% endblock %}
{% block nav_groups %}active{% endblock %}

{% block content %}
    <h1>Members</h1>
    <p>Members of each sub-association and the committees and ensembles that we currently have.</p>

    <h3>Sub-associations</h3>
    {% include 'faqts/groups_table.html' with groups=groups.subassociation %}

    <h3>Committees</h3>
    {% include 'faqts/groups_table.html' with groups=groups.committee %}

    <h3>Ensembles</h3>
    {% include 'faqts/groups_table.html' with groups=groups.ensemble %}

    <h3>Other</h3>
    {% include 'faqts/groups_table.html' with groups=groups.other %}

{% endblock %}

{% block extra_script %}
    <script>
        // Enable tooltips on this page
        // Could also put this in index.js
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
