{% extends "base.html" %}

{% block nav-faqts %}active{% endblock %}
{% block nav-groups %}active{% endblock %}

{% block content %}
    <h1>Q groups</h1>

    <h3>Sub-associations</h3>
    {% include 'faqts/groups_table.html' with groups=groups.subassociation %}

    <h3>Committees</h3>
    {% include 'faqts/groups_table.html' with groups=groups.committee %}

    <h3>Ensembles</h3>
    {% include 'faqts/groups_table.html' with groups=groups.ensemble %}

    <h3>Other</h3>
    {% include 'faqts/groups_table.html' with groups=groups.other %}

{% endblock %}

{% block extra_script %}
    <script>
        // Enable tooltips on this page
        // Could also put this in index.js
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
