[flake8]
ignore =
    # Missing docstring
    D1
exclude =
    .git,
    __pycache__,
    */migrations
max-complexity = 10
max-line-length = 120

# docstrings
docstring-convention = google

# import order
import-order-style = pycharm
application-import-names =
    qluis
    qluisapp
