django<5  # django-q doesn't work with version 5
ldap3
django-phonenumber-field
phonenumbers
django-localflavor
django-countries
authlib<=0.15.5
requests
django-health-check
django-import-export<4  # version 4 has breaking changes
requests-oauthlib
msal
xlsxwriter
whitenoise[brotli]
django-environ
django-q
django-bootstrap4
django-multiselectfield  # Used on subscribe form, TODO: remove
matplotlib
