django<3.2  # django-import-export does not yet support Django 3.2 (support is already in dev branch, just not released)
ldap3
django-phonenumber-field
phonenumbers
django-localflavor
django-countries
authlib
requests
django-health-check
django-import-export
requests-oauthlib
msal
xlrd
xlsxwriter
whitenoise[brotli]
django-environ
django-q
django-bootstrap4
django-multiselectfield  # Used on subscribe form
matplotlib
