django
ldap3
django-phonenumber-field
phonenumbers
django-localflavor
django-countries
authlib<=0.15.5
requests
django-health-check
django-import-export
requests-oauthlib
msal
xlsxwriter
whitenoise[brotli]
django-environ
django-q
django-bootstrap4
django-multiselectfield  # Used on subscribe form, TODO: remove
matplotlib
