{% extends "base.html" %}
{% load bootstrap4 static %}

{% block title %}Q-rekening | {{ block.super }}{% endblock %}

{% block nav_penno %}active{% endblock %}
{% block nav_qrekening %}active{% endblock %}

{% block content %}
    <h1>Q-rekening</h1>

    <form method="post" action="{% url 'pennotools:qrekening' %}">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" name="qrekening" class="btn btn-primary">Q-rekening</button>
        <button type="submit" name="sepa" class="btn btn-primary">SEPA CSV</button>
        <p>
            <small class="text-muted">
                The SEPA CSV file can be imported in Rabo Internetbankieren Professional (RIB Pro) and uses
                <a href="https://www.rabobank.nl/images/pdf_formaatbeschrijving_csv_29856100.pdf" target="_blank">this
                    format</a>.
            </small>
        </p>
    </form>
{% endblock %}
