{% extends "base.html" %}

{% block title %}Q-rekening | {{ block.super }}{% endblock %}

{% block nav_penno %}active{% endblock %}
{% block nav_qrekening %}active{% endblock %}

{% block content %}
    <h1>Q-rekening</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            <tbody>
            <tr>
                <th scope="row"><label for="Debit">Debit</label></th>
                <td><input id="Debit" type="file" name="Debit"></td>
            </tr>
            <tr>
                <th scope="row"><label for="Credit">Credit</label></th>
                <td><input id="Credit" type="file" name="Credit"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" name="qrekening" class="btn btn-primary">Q-rekening</button>
        <button type="submit" name="sepa" class="btn btn-secondary">SEPA file</button>
        {% if form_invalid %}
            <div class="alert alert-danger mt-3">Both debit and credit files need to be provided.</div>
        {% endif %}
        {% if file_invalid %}
            <div class="alert alert-danger mt-3">Input file has unexpected format: {{ file_invalid }}.</div>
        {% endif %}
    </form>
{% endblock %}
