{% load static i18n %}<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
{% load i18n %}

<body>

<p>
    <a href="{% url 'admin:index' %}">Go to administration site</a>
    {% if user.is_authenticated %}
        | <a href="{% url 'oidc:logout' %}">Log out</a>
    {% endif %}
</p>

<p>Deze pagina wordt beter</p>

<hr>
<p>
    <a href="https://status.esmgquadrivium.nl">System status</a>
    | <a href="https://github.com/mhvis/tutti">Issue tracker</a>
</p>

</body>
</html>
