{% load static i18n humanize %}<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/Qstyle.css" %}">
{% endblock %}

<body>

{% block header %}
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark header">
{% block branding %}
<h1 id="site-name"><a href="{% url 'members:index' %}">
    <img src="{% static 'admin/logo_white.svg' %}" height="60px"/>
</a></h1>
{% endblock %}
{% block usertools %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Go to admin site </a>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Secretaris
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item disabled" href="#">Quick search</a>
                <a class="dropdown-item disabled" href="#">Scala app</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="#">Statistics</a>
            </div>
        </li>
        {% if perms.pennotools %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Penningmeester
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'pennotools:qrekening' %}">Q rekening</a>
          <a class="dropdown-item disabled" href="#">Contributie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Statistics</a>
        </div>
      </li>
        {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'oidc:logout' %}">Log out</a>
        </li>
    </ul>
  </div>
</nav>
    {% block customtools %}
    {% endblock %}
{% endblock %}
</div>
{% endblock %}


<div id="content">
{% block content %}
<p>Deze pagina wordt beter</p>
{% endblock %}
</div>


<hr>
<div id="footer">
{% block footer %}
<p>
    <a href="https://status.esmgquadrivium.nl">System status</a>
    | <a href="https://github.com/mhvis/tutti">Issue tracker</a>
    {# Poor man's version info, see VERSION_* in settings.py. #}
    |
    {% if VERSION_DATE %}
        Last updated: <a href="{{ VERSION_URL }}">{{ VERSION_DATE|naturalday }}</a>
    {% else %}
        Development version
    {% endif %}

</p>
{# Todo: this template is not specific for the members app, it should be moved outside of it. #}
{% endblock %}
</div>

</body>
</html>
