{% extends "base.html" %}
{% load bootstrap4 %}

{% block nav_password_change %}active{% endblock %}

{% block content %}
    <h1>Password change</h1>
    <p>
        Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
        typed it in correctly.
    </p>
    <form action="{% url "members:password_change" %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Change my password</button>
        {% endbuttons %}
    </form>
{% endblock %}
