{% extends "base.html" %}

{% block title %}Activity {{activity.id}} | {{ block.super }}{% endblock %}


{% block content %}
<h1>Activities</h1>
{% if form_invalid %}
<div class="alert alert-danger mt-3">Something went wrong, user not found...</div>
{% endif %}
{% if person_invalid %}
<div class="alert alert-danger mt-3">This user is not a Q person</div>
{% endif %}
<div class="card">
    <div class="card-header">
        {{activity.date}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{activity.name}}</h5>
        <form method="post">
            {% csrf_token %}
            <p class="card-text">{{activity.description}}</p>
            {% if is_subscribed %}
            <button type="submit" name="signout" class="btn btn-primary">Sign out</button>
            {% else %}
            <button type="submit" name="signup" class="btn btn-primary">Sign up!</button>
            {% endif %}
        </form>
    </div>
</div>
<p></p>
<ul class="list-group">
    {% for participant in participants %}
      <li class="list-group-item">{{participant}}</li>
    {% endfor %}
</ul>
{% endblock %}
