{% extends "base.html" %}

{% block title %}Activity | {{ block.super }}{% endblock %}


{% block content %}
<h1>Activities</h1>
{% for activity in activities %}
<div class="card">
  <div class="card-header bg-light mb-3" background_color>
      <div class="float-lg-left">{{activity.start_date}}</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{activity.name}}</h5>
    <p class="card-text">{{activity.description}}</p>
    <a href="{% url 'activities:activity' id=activity.id %}" class="btn btn-primary">More info</a>
  </div>
</div>
<p></p>
{% endfor %}
{% endblock %}
