{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Edit activity {{activity.id}} | {{ block.super }}{% endblock %}


{% block content %}
{% if no_permission %}
<div class="alert alert-danger mt-3">You do not have permission to edit this activity</div>
{% else %}
<h1>Edit activity</h1>
{% if form_invalid %}
<div class="alert alert-danger mt-3">Something went wrong, user not found...</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Save</button>
  {% endbuttons %}
</form>

<p></p>
<ul class="list-group">
    {% for participant in participants %}
    <li class="list-group-item">{{participant}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
