{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Edit activity {{activity.id}} | {{ block.super }}{% endblock %}


{% block content %}
{% if no_permission %}
<div class="alert alert-danger mt-3">You do not have permission to edit this activity</div>
{% else %}
<h1>Edit activity</h1>
{% if form_invalid %}
<div class="alert alert-danger mt-3">Something went wrong, user not found...</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Save</button>
  {% endbuttons %}
</form>

<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone number</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
  {% for participant in participants %}
    <tr>
      <th scope="row">{{participant}}</th>
      <td>{{participant.email}}</td>
      <td>{{participant.phone_number}}</td>
      <td>{{participant.person_id}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
